<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
     <h4>{{warningMessage}}</h4>

         <div class="form-group">
             <input id="lunch-menu"
             type="text"
             placeholder={{placeholderText}}
             class="form-control"
             ng-model="textBoxInput">
         </div>
         <!-- <p>
         {{textBoxInput}} -->
         <p>
         {{fedbackMessageToUser}}
         <p>
         <div class="form-group">
             <button class="btn btn-default"
             ng-click="checkIfTooMuchButtonClick();">
             Check If Too Much
             </button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
         </div>

         <!-- {{aaaTestString}}<p>
         {{aaaTestFunction()}}<p> -->
   </div>

<script src="angular.min.js"></script>
<script src="app.js"></script>

<!-- // TODO:
5. Import AngularJS into your project by placing a `<script>` tag right before the `</body>` tag.
6. Declare `ng-app` either on the `html` or the `body` element. Name your app `LunchCheck`.
-->

</body>
</html>
